*{
    margin:0;
    padding:0;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: antiquewhite;
}
ul {
    width: 290px; /* The width of the menu */
    margin: 0 auto;
    list-style: none; /* To remove the list markers */
    padding: 0; /* Remove the box around the text */
    font-family: Arial, sans-serif; /* Chopped font for menu text */
    font-size: 10pt;

    li {
        float: left;

        ul {
            position: absolute; /* Submenus are positioned absolutely */
            display: none; /* Hide submenu*/
            margin-top: 1px; /* Move the submenu up */
        }

        a {
            display: block; /* The link as a block element */
            padding: 5px; /* The boxes around the labels */
            text-decoration: none; /* Underline from links remove */
            color: #666; /* The color of the text */
            border: 1px solid #ccc; /* The frame around the menu items*/
            background-color: #f0f0f0; /* Background color */
        }
    }
}